@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html,
body,
#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Comfortaa', cursive;
}

main {
    height: 85vh;
}
